@{
    ViewData["Title"] = "Gummy King";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container nav">
    <p class="pro">Get Free Ground Shipping on All Gummy King Orders Over $50 with SendSweetKings </p>
    </div>
</nav>

<div class="shopbar">
    <h1 class="sugar-shop">Gummy King <span><h3 class="link-list">
    @Html.ActionLink("Take a Look at Our List of Gummy Kings", "Index", "Products")
</h3></span></h1>
</div>

<div class="content-panel">
<div class="container promo">
    <div class="row">

    <div class="col-sm-8">
    <img class="promo-img" src="https://www.sugarfina.com/wp-content/uploads/2017/04/Fuzzy_Monkey_LG.png"/>
    </div>

    <div class="col-sm-2">
        <img class="promo-imgsm" src="https://www.sugarfina.com/wp-content/uploads/2017/04/PinkFlamingo_SM.png" />
    
        <img class="promo-imgsm" src="https://www.sugarfina.com/wp-content/uploads/2017/04/GiftGuide_SM.png" />
    </div>
    </div>

    <div>
        <img class="promo-img2" src="https://www.sugarfina.com/wp-content/uploads/2015/07/4.png" />
    </div>

</div>
</div>