@{
    ViewData["Title"] = "Gummy King";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wlecome to the Gummy King Site.</h2>

<h3>@Html.ActionLink("Take a Look at Our List of Gummy Kings", "Products")</h3>