@model GummyKing.Models.Product

   <h2>Delete</h2>

        @using (Html.BeginForm())
        {
            <h2><em>@Html.DisplayFor(model => model.Name), @Html.DisplayFor(model => model.Price)<em></h2>

            <input type="Submit" value="Delete" class="btn btn-danger" />
        }

<p>@Html.ActionLink("Index", "Index")</p>