body {
}

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #91D7E6;
    text-align: center;
}

.pro {
    margin-top: .9%;
}

.nav {
        color: white;
}

.shopbar {
    height: 98px;
    width: 100%;
    margin-top: 50px;
    outline: 1px solid blue;
        outline: 1px solid blue;
}

.sugar-shop{
    margin-left: 80px;
    padding: 15px;
    color: #91D7E6;
}

.link-list {
    float: right;
    color: white;
    padding: 11px;
    border: 4px solid #91D7E6;
    margin-right: 20%;
}

.link-list:hover {
    background-color: white;
}

.promo {
    outline: black solid 2px;
    width: 100%;
    max-height: 2133px;
    min-height: 813px;
}

.promo-img {
    width: 432px;
    height: 375px;
    max-height: 586px;
    max-width: 674px;
    min-height: 252px;
    min-width: 290px;
    outline: green solid 3px;
}

.promo-img2 {
    width: 1068px;
    height: 461px;
    max-height: 461px;
    max-width: 1068px;
    min-height: 137px;
    min-width: 319px;
    outline: red solid 3px;
}