body {
}

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #91D7E6;
    text-align: center;
}

.pro {
    margin-top: .9%;
}

.nav {
        color: white;
}

.shopbar {
    height: 98px;
    width: 100%;
    margin-top: 50px;
    outline: 1px solid blue;
        outline: 1px solid blue;
}

.sugar-shop{
    margin-left: 80px;
    padding: 15px;
    color: #91D7E6;
}

/*h2 {
    border: solid red 2px;
}*/